# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js / Vinext
/.next/
/.vinext/
/out/
/dist/

# local tooling
/.wrangler/
/outputs/
/work/

# local environment
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
next-env.d.ts
.vercel
